html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand SC', Helvetica, Arial, sans-serif;
    text-align: center;
}


/* Split the screen in half */

.split-left {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
}

.split-right {
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
}